src/main/mule/hello-world-cicd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="bbfe990c-4a37-4a54-938b-a744e71ffe36" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-world-cicdFlow" doc:id="34fe0e34-adaf-42ad-8e54-09bafdb4cf66" >
		<http:listener doc:name="Listener" doc:id="d032a65f-ae54-4dd0-a901-b600ed588d6c" config-ref="HTTP_Listener_config" path="/hello"/>
		<set-payload value="it worked: hello world" doc:name="Set Payload" doc:id="98c3b10d-91ad-4710-91f6-b09b8a9e12cc" />
		<logger level="INFO" doc:name="Logger" doc:id="97992373-4bd0-4875-97fe-1e246f5beac8" message="#[payload]"/>
	</flow>
</mule>
